/dts-v1/;
/plugin/;

/ {
    compatible = "ti,am335x-pocketbeagle";
    part-number = "mm-cape";
    version = "00A0";

	fragment@0 {
		target = <&ocp>;
		__overlay__ {
			P1_08_pinmux { status = "disabled"; }; /* SCLK   - spi0_sclk     - P1_08 */
			P1_10_pinmux { status = "disabled"; }; /* MISO   - spi0_d0       - P1_10 */
			P1_12_pinmux { status = "disabled"; }; /* MOSI   - spi0_d1       - P1_12 */
			P1_35_pinmux { status = "disabled"; }; /* CS0    - lcd_pclk      - P1_35 */
			P2_02_pinmux { status = "disabled"; }; /* CS1    - gpmc_a11      - P2_02 */
			P1_06_pinmux { status = "disabled"; }; /* CS2    - spi0_cs0      - P1_06 */
			P2_19_pinmux { status = "disabled"; }; /* CS3    - gpmc_ad11     - P2_19 */
			P2_07_pinmux { status = "disabled"; }; /* CS4    - gpmc_wpn      - P2_07 */
			P1_36_pinmux { status = "disabled"; }; /* PRU0_0 - mcasp0_aclkx  - P1_36 */
			P1_33_pinmux { status = "disabled"; }; /* PRU0_1 - mcasp0_fsx    - P1_33 */
			P2_32_pinmux { status = "disabled"; }; /* PRU0_2 - mcasp0_axr0   - P2_32 */
			P2_30_pinmux { status = "disabled"; }; /* PRU0_3 - mcasp0_ahclkr - P2_30 */
			P1_31_pinmux { status = "disabled"; }; /* PRU0_4 - mcasp0_aclkr  - P1_31 */
		};
	};
	
	fragment@1 {
		target = <&ocp>;
		__overlay__ {
			cape-universal { status = "disabled"; };
		};
	};
	
	fragment@2 {
		target = <&ocp>;
		__overlay__ {
			cape-universal@1 {
				compatible = "gpio-of-helper";
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <>;
			};
		};
	};
	
	fragment@3 {
		target = <&am33xx_pinmux>;
		__overlay__ {
			spi0_pins: spi0_pins {
				pinctrl-single,pins = <
					0x150 0x30 /* SCLK   - spi0_sclk     (MODE0 | INPUT  | PULLUP) */
					0x154 0x30 /* MISO   - spi0_d0       (MODE0 | INPUT  | PULLUP) */
					0x158 0x10 /* MOSI   - spi0_d1       (MODE0 | OUTPUT | PULLUP) */
					0x0e8 0x17 /* CS0    - lcd_pclk      (MODE7 | OUTPUT | PULLUP) */
					0x06c 0x17 /* CS1    - gpmc_a11      (MODE7 | OUTPUT | PULLUP) */
					0x15c 0x17 /* CS2    - spi0_cs0      (MODE7 | OUTPUT | PULLUP) */
					0x02c 0x17 /* CS3    - gpmc_ad11     (MODE7 | OUTPUT | PULLUP) */
					0x074 0x17 /* CS4    - gpmc_wpn      (MODE7 | OUTPUT | PULLUP) */
				>;
			};
			
			mm_pru_pins: mm_pru_pins {
				pinctrl-single,pins = <
					0x190 0x15 /* PRU0_0 - mcasp0_aclkx  (MODE5 | OUTPUT | PULLUP) */
					0x194 0x15 /* PRU0_1 - mcasp0_fsx    (MODE5 | OUTPUT | PULLUP) */
				>;
			};
			
			mm_gpio_pins: mm_gpio_pins {
				pinctrl-single,pins = <
					0x198 0x17 /* PRU0_2 - mcasp0_axr0   (MODE7 | OUTPUT | PULLUP) */
					0x19C 0x17 /* PRU0_3 - mcasp0_ahclkr (MODE7 | OUTPUT | PULLUP) */ 
					0x1A0 0x17 /* PRU0_4 - mcasp0_aclkr  (MODE7 | OUTPUT | PULLUP) */
				>;
			};
		};
	};
	
	fragment@4 {
	target = <&spi0>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&spi0_pins>;
	        cs-gpios = <&gpio2 24 0>, 
						<&gpio1 27 0>, 
						<&gpio0 5 0>, 
						<&gpio0 27 0>, 
						<&gpio0 31 0>;
						
			channel@0 {
				status = "disabled";
			};
			
			channel@1 {
				status = "disabled";
			};
	        
	        adc0: mcp320x@0 {
                compatible = "microchip,mcp3208";
                reg = <0>;
                spi-max-frequency = <1000000>;
            };
			
			adc1: mcp320x@1 {
                compatible = "microchip,mcp3208";
                reg = <1>;
                spi-max-frequency = <1000000>;
            };
			
			pot0: spidev@2 {
				compatible = "spidev";
				reg = <2>;
				spi-max-frequency = <1000000>;
			};
			
			pot1: spidev@3 {
				compatible = "spidev";
				reg = <3>;
				spi-max-frequency = <1000000>;
			};
			
			pot2: spidev@4 {
				compatible = "spidev";
				reg = <4>;
				spi-max-frequency = <1000000>;
			};
        };
    };
	
	fragment@5 {
		target = <&ocp>;
		__overlay__ {
			mm_pin_helper: mm_pin_helper {
				compatible = "bone-pinmux-helper";
				pinctrl-names = "default";
				pinctrl-0 = <&mm_gpio_pins &mm_pru_pins>;
				status = "okay";
			};
		};
	};
};

